@media screen and (max-width: 420px) {
  .hide-on-phone { display: none; }
}

@media screen and (max-width: 768px) {
  .hide-on-tablet { display: none; }
}
@media screen and (min-width: 769px) {
  .hide-on-desktop { display: none; }
}
